* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans JP", sans-serif;
}
.main {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}
.center {
  text-align: center;
}

.width-match-parent {
  width: 100%;
}
